* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: auto;
  width:100%;
  background-image: url(images\torrent loop start.gif);
  background-repeat: repeat;
}
.logo-container {
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0EFEEE;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {background-color: #ffffff;
}
nav {
  flex: 2;
}
.nav-links {
    background: linear-gradient(90deg, #a0bdba, #9bafed, #a0bdba);
    list-style: none;
    margin: none;
    text-decoration: none;
    display: flex;
}
.nav-link {
  border: 2px solid color: white;
  background: transparent;
  color: inherit;
  width: auto;
  height: 50px;
  cursor: pointer;
}
body {
    font-family: 'Rajdhani';
}
.glitch {
  text-shadow: 2px 2px red;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
