* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
html:focus-within{
  scroll-behavior: smooth;
}
body{
  font-family: 'Rajdhani';
  height: 100%;
  text-rendering: optimizeSpeed;
}
header {
  width:100%;
  background-repeat: repeat;
}
button{
  border: none;
  background-color: inherit;
}
button:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #ff6dce;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {background-color: inherit;
}
nav {
  position: sticky;
  top: 0;
  flex: 2;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}
nv{
  padding: 24px 20px;
  white-space: nowrap;
  text-decoration: none;
  background-image: linear-gradient transparent;
}
p {
  margin-left: .75rem;
}
footer{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: black;
}
footer li{
  list-style: none;
  align-items: center;
}
footer li a{
  text-decoration: none;
}
.nav-links {
  display: flex;
  background: linear-gradient(90deg, #a0bdba, #9bafed, #a0bdba);
  list-style: none;
  text-decoration: none;
}
.nav-link {
border: 2px solid color inherit;
background: transparent;
color: inherit;
width: auto;
height: 50px;
cursor: pointer;
}